
.main-container
{
  max-width: 1200px;
  margin: 0 auto;
}

.wizard-nav
{
  //position: fixed;
  width: 100%;
  //bottom: 0;

  .nav-btn
  {
    display: inline-block;
    padding: 0;
    border-radius: 0;
  }

}

.interaction-icon
{
  float: left;
  width: 50px;
  margin-left: -60px;
}

.animate-all
{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.side-margin-20px
{
  margin-left: -20px;
  margin-right: -20px;
}

.clickable
{
  cursor: pointer;
}

.overflow-hidden
{
  overflow: hidden;
}

//validator styles
label.error {
  color:#f23;
  //margin-left: 100px;
  text-align: center;
}

.data-mailing_list
{
  label.error {
    width:100%;
  }
}

.v-middle
{
  vertical-align: middle;
}

.img-modal{
  display: block;
  margin: 0 auto;
}

.btn
{
  //error label on buttons
  label.error{
    width: 100%;
    transform: translateY(-104%);
    font-size: 0.8rem;
    text-transform: none;
  }
}

.hover-blue:hover
{
  background-color: #00bcd4;
}

.mBottom-20
{
  margin-bottom: 20px;
}

.centered-loader
{
  margin: 10px auto 0;
  display: block;
}

input.error {
  color:#f23;
}

input.error:focus{
  color:#f23;
  border: none;
  border-bottom: 1px solid red;
}

div.error{
  color: red;
}

@media screen and (max-width: 600px) {
  .wizard-card
  {
    margin-left: -5%;
    margin-right: -5%;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}