.carousel.dashboard-carousel {
}

.section.image-card {
  padding-top: 0;
  //margin: -1rem -0.75rem 0;
  margin: -20px -20px 0;

}

/*
.desktop-card
{
  width: 300px;
}
*/

.strong {
  font-weight: 300;
}

.stronger {
  font-weight: 400;
}

.thin {
  font-weight: 200;
}

.container.desktop-container {
  width: 96%;
}

.blank-space {
  height: 100px;
}

.left-border {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #757575;

}

.card-panel.hoverable {
  padding-bottom: 10px;
  min-height: 100%;
  position: relative;
}

.card-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.flex {
  display: flex;
}

.flex-card {
  display: flex;
  width: 100%;
}

.desktop-container {

}

.slider-container {
  width: 100%;

  .slider-item {
    position: absolute;
    width: 320px;
    left: 50%;
    top: 50%;
  }
}

.swipe-animation
{
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  pointer-events: none;
  display: none;

  background: hsla(0, 0%, 100%, 0.75);
}

.button {
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.sub-title{
  font-size: 12px;
}

@media only screen and (max-width: 992px) {

  //ipad and down
  .container.col.m6.l4 {

  }

}

@media only screen and (max-width: 600px) {

  //mobile only

  .dash-data {
    .right-align {

      padding: 0;
    }
  }

  .card-panel.carousel-item.my-card {
    width: 85%;
    min-height: 450px;
    right: 10px;
    left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section.image-card {
    padding-top: 0;
    margin: -20px -10px 0;
  }

}

.green-text-light
{
  color:  #a5d6a7!important;
}

.font.roboto{
  font-family: "Roboto", sans-serif;
  font-weight:  lighter;
}

.p-small{
  margin: 2.5px 0;
}

.branch-button{
  position: relative;
  left: 20px;
  bottom: 30px;
}

.light-text{
  font-weight: lighter;
}