.carousel.dashboard-carousel
{
}

.card-panel.carousel-item.my-card
{
  width: 85%;
  min-height: 450px;
  right:10px;
  left: auto;
  padding-left:10px;
  padding-right:10px;

}

.card-content
{
  height: 430px;
}

.my-card{
  //padding: 0px!important;
}

.row-card{
  //margin: 0!important;
}