//colors
$blue: #1565c0;
$white: #FFFFFF;

//new css
.menu{
  margin: 0;
  padding: 0;
  width: 100%;
}

.icon-menu{
  background-color: $blue;
  padding: 5px 1px 5px 5px;
  margin: 0 18px 0 0;
  border-radius: 50%;
  text-align: center;
  color: $white;
}
.data-menu{
  float: right;
}
.l-margin{
  margin-left: 50px;
}

.zero{
  margin: 0;
  padding: 0;
}

[data-icon] {
  &::before {
    content: attr(data-icon);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1em;  /* Preferred icon size */
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}

.show{
  padding: 0 20px 20px 10px !important;
}


#table-wrapper {
  position:relative;
  height: 483px;
}
#table-scroll {
  height:483px;
  overflow:auto;
}
#table-wrapper table {
  width:100%;

}
#mydiv {
  position: absolute;
  top: 72px;
  left: 22px;
  width: 206px;
  height: 326px;
}

.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  stroke: white;
}
.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  stroke: white;
}
tspan{
  stroke: white;
}

.c3-legend-item text{
  stroke: white;
}

.btn-mobil{
  margin-left: 15%;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card_info{
  margin: 0 0 0 30px;
  padding: 15px 0 0 0;
}

.head-info{
  margin: 10.500px;
}

.margin-image{
  margin: -20px -20px 5px -20px;
}