.login-container {
  max-width: 450px;
}

.login-card {
}

.logo-img {
  margin-bottom: 20px;
}

.input-field {
  margin-top: 30px;
  margin-bottom: 40px;
}

.no-word-break
{
  word-break: normal;
}

$inputFocusColor: #1e88e5;
/* label focus color */
.input-field input[type=email]:focus + label {
  color: $inputFocusColor;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid $inputFocusColor;
  box-shadow: 0 1px 0 0 $inputFocusColor;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: $inputFocusColor;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid $inputFocusColor;
  box-shadow: 0 1px 0 0 $inputFocusColor;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $inputFocusColor;
}
/*
.btn, .btn-large
{
  background-color: $inputFocusColor;
}*/

@media screen and (min-width: 601px) {
  .login-container {
    margin-top:20px;
  }
  #help-modal
  {
    max-height:400px;
  }

  #restore-modal
  {
    max-height:250px;
  }
}

@media screen and (min-width: 993px) {

}